Documentacao/TCC Latex Template.rar
Documentacao/TCC Latex Template/Figuras/haar.png
IMAGENS/teste_errophi.png
IMAGENS/teste_errophi_des.png
METRICAS
METRICASerros70.json
TESTE.csv
__pycache__/
client_secrets.json
credentials.json
debug.log
key.txt
med.txt
norms70.json
settings.yaml